div()
 - if(journal)
  div(class='journal')
   div(class='btn-group pull-right' role='group')
    button(class='btn btn-default' name='edit')
     span(class='glyphicon glyphicon-pencil bodyColor')
    button(class='btn btn-default' name='delete')
     span(class='glyphicon glyphicon-trash text-danger')
   br 
   div(class='date') #{journal.date_time}
   div(class='journalContent')!= journal.content
 - else
  div(class='text-center lead') No journals available