div(class='journalDetails myContainer')
  div()
  div(class='col-md-6')
   span(class='glyphicon glyphicon-calendar') &nbsp;
   span(class='dateTime') Select date
  div(class='col-md-6')
   span(class='glyphicon glyphicon-map-marker actionIcon') &nbsp;
   span(class='location') Location not found