div(class='panel dateTime')
    div(class="panel-heading") MMM YYYY
    div(class="panel-body")
        b dddd
        div DD
    div(class="panel-footer")
        b HH : MM
        div(class="paperTilt")
script(src='/javascripts/showDateTimeCalendar.js')   	