extends layout

block content
    script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
    script(src="/javascripts/tinyMceConfig.js")
    script(src="/javascripts/index.js")
    include _navbar
    div(class='myContainer content')
        div(class='editor' id="editor")
            div(class="actions")
                div(class="action")
                    include _dateTimePicker
                div(class="action autoCursor" id="locationSelector")
                    include _locationSelector
            input(type='text' class='titleBox title' placeholder="Title ..." id='title')
            include _journalDetails
            div(id='journal' class='journalContent tinymceCustomBody')
            div(class='editorFooter')
                button(class="btn btn-primary pull-right" id='saveJournal') Save Journal
                div.clearfix
        div(class="content container")
            h4 Today's Journals
            div(id="journals" class="journals")
    include _footer


