extends layout

block content
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 script(src="/javascripts/tinyMceConfig.js")
 script(src="/javascripts/index.js")
 include _navbar
 div(class='myContainer content')
  div(class="")
   div(class='container')
    include _showDateTimeCalendar
    div(class='col-md-1')
    include _dateTimePicker
   div(class='myContainer')
    form(action='/journals/create' method='POST')
     input(type='hidden' id='dateTime' name='dateTime') 
     div
      div(class='myContainer')
       input(type='text' placeholder='Title ...' name='title' id="titleOfJournal" class='titleInput' required)
      textarea(name='journal' id='journal')
     div(class='container')
      button(type="submit" class='btn btn-primary pull-right') Submit
    
 include _footer


