extends layout

block content
    script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
    script(src="/javascripts/tinyMceConfig.js")
    script(src="/javascripts/index.js")
    include _navbar
    div(class='myContainer content')
        div(class='editor' id="editor")
            div(class="actions")
                div(class="action")
                    include _dateTimePicker
            div(class="col-md-2")
                include _showDateTimeCalendar
            div(class='col-md-10')
                div(class='myToolbar')
                div(id='journal' class='journalContent tinymceCustomBody')
                button(class="btn btn-primary pull-right" id='saveJournal') Save Journal
    include _footer


