extends layout

block content
 script(src="/javascripts/some.js")	.
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 p Welcome to Digital Diary
 a(href='/logout') Logout
 form(action='some')
  textarea(name='content')
  button(type="submit") Submit	