extends layout

block content
    script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
    script(src="/javascripts/tinyMceConfig.js")
    script(src="/javascripts/index.js")
    include _navbar
    div(class='myContainer content')
        div(class='editor')
            div(class="col-md-2")
                include _showDateTimeCalendar
            div(class='col-md-10')
                div(class='myToolbar')
                input(type='hidden' id='dateTime' name='dateTime')
                //textarea(id='journal' name='journal')
                div(id='journal' class='journalContent tinymceCustomBody')

    include _footer


