extends layout

block content
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 script(src="/javascripts/tinyMceConfig.js")
 script(src='/node_modules/html-md/dist/md.min.js')
 script(src='/javascripts/index.js')
 include _navbar
 div(class='myContainer')
  div(class="content")
   div(class='container')
    include _showDateTimeCalendar
    div(class='col-md-1')
    include _dateTimePicker
   div(class='myContainer')
    form(action='/journal' method='POST' onsubmit='print()')
     input(type='hidden' id='dateTime' name='dateTime') 
     div
      textarea(name='journal' id='journal')
     div(class='container')
      button(type="submit" class='btn btn-primary pull-right') Submit
    
 include _footer     

