extends layout

block content
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 script(src="/javascripts/tinyMceConfig.js")
 include _navbar
 div(class='myContainer')
  div(class="content")
   div(class='container')
    include _showDateTimeCalendar
    div(class='col-md-1')
    include _dateTimePicker
   div(class='myContainer')
    form(action='/journal' method='POST')
     input(type='hidden' id='dateTime') 
     div
      textarea(name='journal')
     div(class='container')
      button(type="submit" class='btn btn-primary pull-right') Submit
 include _footer     

