extends layout

block content
 script(src="/javascripts/some.js")
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 script(src="/bower_components/moment/min/moment.min.js")
 script(src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
 link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
 include _navbar
 div(class='myContainer')
  - var a =  new Date()
  b #{a}
  div(class="container")
   div(style="overflow:hidden" class="col-md-6")
    div(class="form-group")
     div(id="datetimepicker12")
   div(class="col-md-4 col-md-offset-2")
    div(class='panel dateTime')
     div(class="panel-heading") Nov 2015
     div(class="panel-body") 
      b Thu 
      div 26
     div(class="panel-footer") 
      b 19:00
      div(class="paperTilt")
 div(class='myContainer')
   ul(class="nav nav-tabs")
    li(role="presentation" class="active")
     a(href="#")
      span(class="glyphicon glyphicon-pencil") &nbsp;
      span Add a Journal
    li(role="presentation")
     a(href="#")
      span(class="glyphicon glyphicon-list-alt") &nbsp;
      span Today's Journals
    li(role="presentation")
     a(href="#") 
      span(class="glyphicon glyphicon-search") &nbsp;
      span Search
   form(action='some') 
    textarea(name='content')
    button(type="submit" class='btn btn-primary') Submit