extends layout

block content
 script(src="/javascripts/some.js")
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 script(src="/bower_components/moment/min/moment.min.js")
 script(src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
 link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
 include _navbar
 div(class='myContainer borders')
  div(class="content")
   div(class='container')
    div(style="overflow:hidden" class="col-md-6")
     div(class="form-group")
      div(id="datetimepicker12")
    div(class="col-md-4 col-md-offset-2")
     div(class='panel dateTime')
      div(class="panel-heading") MMM YYYY
      div(class="panel-body") 
       b dddd 
       div DD
      div(class="panel-footer") 
       b HH : MM
       div(class="paperTilt")
   div(class='myContainer')
    form(action='some') 
     textarea(name='content')
     button(type="submit" class='btn btn-primary') Submit