extends layout

block content
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 script(src="/bower_components/moment/min/moment.min.js")
 script(src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js")
 link(rel='stylesheet', href='/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css')
 include _navbar
 div(class='myContainer borders')
  div(class="content")
   div(class='container')
    include _showDateTimeCalendar
    div(class='col-md-1')
    include _dateTimePicker
   div(class='myContainer')
    form(action='some') 
     textarea(name='content')
     button(type="submit" class='btn btn-primary') Submit