extends layout

block content
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 include _navbar
 div(class='myContainer borders')
  div(class="content")
   div(class='container')
    include _showDateTimeCalendar
    div(class='col-md-1')
    include _dateTimePicker
   div(class='myContainer')
