extends layout

block content
 script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
 include _navbar
 div(class='myContainer')
  div(class="content")
   div(class='container')
    include _showDateTimeCalendar
    div(class='col-md-1')
    include _dateTimePicker
   div(class='myContainer')
    input(type='hidden' id='dateTime' name='date')
    input(type='hidden' id='journalsCount' value='0')
    div(id='journals')
 include _footer    	
 script(src="/javascripts/journals.js")