doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap.min.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/javascripts/bin/templates.js')
    script(src='/javascripts/application.js')
    script(src='/node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='javascripts/utils.js')
  body
    div(class='text-center loader hidden' id='loader')
      img(src='/loading.gif')
    block content
