extends layout

block content
 include _navbar
 div(class='jumbotron') 
  div(class='col-md-2')
  div(class='col-md-2')
   div(class='name') Digital Diary
  div(class='col-md-8 sideContent') 
   div(class='notes') Don’t miss the life moments. Record you life moments. We will help you
   a(class='btn loginBtn' href='/auth/dropbox') Login with Dropbox
   - if(error)
    b(class='text-danger') #{error}
