@import "../../styles/config";

.home-page {
  .main-content-container {
    margin-top: -20px;

    .section-1 {
      .section-content {
        height: calc(100vh - 100px);

        .row {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          padding-left: 100px;
          padding-right: 100px;
        }

        .column {
          text-align: center;

          &:last-child {
            padding-left: 50px;
          }
        }

        .introduction {
          color: $primary-color-3;

          .title {
            font-size: 50px;
            font-weight: 700;
            margin-bottom: 50px;
          }

          .text {
            font-size: 30px;
            font-weight: 500;
          }
        }
      }
    }

    .features-section {
      height: 500px;
    }

    .contact-us-section {
      height: 500px;
    }

  }

}