@import "../../styles/config";

.navigation-bar.navbar {
  background-color: $secondary-color-8;
  border: 0;
  border-radius: 0;
  border-bottom: 2px solid $primary-color-3;

  .header {
    .brand {
      color: $primary-color-3;
      font-size: 50px;
      font-family: serif;
      padding: 10px;
      height: auto;
      line-height: 100%;
      margin: 0;
    }
  }

  .navbar-menu {
    float: right;

    p.navbar-text {
      line-height: 64px;
      font-size: 22px;
      cursor: pointer;

      a {
        &:hover, &:focus {
          text-decoration: none;
        }
      }
    }
  }
}