extends layout

block content
    script(src="/javascripts/tinymce/js/tinymce/tinymce.min.js")
    script(src="/javascripts/tinyMceConfig.js")
    script(src="/javascripts/bundle.js")
    include _navbar
    div(class='myContainer content')
        div(id="creationView")
        div(class="content container")
            h4 Today's Journals
            div(id="journals" class="journals")
    include _footer


