body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #bdcbf5 !important;
}

a {
  color: #00B7FF;
}

.myContainer {
	padding-left: 70px;
	padding-right: 70px;
}

/* Both should be same */
.navbar-default, .navbar-default .navbar-nav>.open>a {
	background-color: #18399a !important;
}

.nav>li>a {
    color: #ffffff !important;
}

.navbar-header {
	font-size: 20px;
}