body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9eefc !important;
}

a {
  color: #00B7FF;
}

.myContainer {
	padding-left: 70px;
	padding-right: 70px;
}

.navbar-default {
	background-color: #18399a !important;
}

.navbar-default .navbar-nav>.open>a {
	background-color: #18399a !important;
}

.nav>li>a {
    color: #ffffff !important;
}

.navbar-header {
	font-size: 20px;
}

.sideTabWraper{
	padding-right: 0px !important;
	width: 45px !important;
	padding-left: 0px !important;
}

.nav-pills>li>a {
	border-radius: 5px 0px 0px 5px !important;
	color: #337ab7 !important;
}

.nav-pills>li>a:hover {
	background-color: #bdcbf5 !important;
}

.nav-pills>li.active>a:hover {
	background-color: #337ab7 !important;
}

.nav-pills>li.active>a {
	color: #ffffff !important;
}

.sideTabContent {
	padding-left: 0px !important;
}

.calenderBar {
	padding-right: 25px !important;x
}

.content {
	border-left: 1px solid;
	padding-left: 0px !important;
}

.mce-content-body {
	background-color: red !important;
}