$primary-color-1: #15032D;
$primary-color-2: #270E48;
$primary-color-3: #3E2264;
$primary-color-4: #573A7D;
$primary-color-5: #7A619B;

$secondary-color-1: #222222;
$secondary-color-2: #444444;
$secondary-color-3: #666666;
$secondary-color-4: #888888;
$secondary-color-5: #AAAAAA;
$secondary-color-6: #CCCCCC;
$secondary-color-7: #EEEEEE;
$secondary-color-8: #FFFFFF;

$info: #0275d8;
$warning: #f0ad4e;
$negative: #d9534f;
$positive: #5cb85c;


