html {
  height: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #e9eefc !important;
  font-size: 16px !important;
  color: #103b89 !important;
  min-height: 100%;
}

.bodyColor {
  color: #103b89 !important;
}


.logo {
  font-size: 28px;
  font-family: fantasy;
}

.footer {
  height: 30px;
  border-top: 1px solid;
  margin-top: 50px;
  padding-top: 5px;
  padding-left: 150px;
  padding-right: 150px;
  padding-bottom: 5px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: #fff;
  position: fixed;
}

.infoLabel {
  font-size: 22px;
  font-family: serif;
  font-weight: bold;
}

.myContainer {
  margin-left: 70px;
  margin-right: 70px;
}

.dashedBorder {
  border-top:1px dashed;
}

.rightBorder {
  border-right: 1px solid;
}

.content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.loader {
  margin-top: 50px;
}

.navbar {
  margin-bottom: 0px !important;
}

.navbar-default {
  background-color: #18399a !important;
}

.navbar-default .navbar-nav>.open>a {
  background-color: #18399a !important;
}

.nav>li>a {
  color: #ffffff !important;
}

.navbar-header {
  font-size: 20px;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover{
  background-color: #4882ea !important;
}

.btn-primary {
  background-color: #4882ea !important;
  border-radius: 0px;
}

.dropdown-menu>li>a:hover {
  background-color: #4882ea !important;
  color: #fff !important;
}

.dateTime {
  width: 90%;
  text-align: center;
  max-width: 200px;
}

.dateTime .panel-heading {
  background-color: #f8c8a0;
  color: #bf5f0d;
  font-size: 20px;
}
.dateTime .panel-body{
  font-style: bold;
}

.dateTime .panel-body>div {
  font-size: 55px;
}


.dateTime .panel-body {
  background-color: #fdf1e7;
}

.dateTime .panel-footer {
  background-color: #fce4cf;
  color: #ee7711;
  font-size: 18px;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
  overflow: hidden;
}

.dateTime .panel-footer>b{
  font-size: 20px;
  margin-left: 20px;
}

.dateTime .paperTilt {
  border-top: 18px solid;
  border-left: 18px solid;
  border-right: 18px solid #fce4cf;
  border-bottom: 18px solid #fce4cf;
  float: right;
  height: 35px;
  width: 35px;
  border-top-left-radius: 5px;
  box-shadow: -3px -3px 10px 2px #FFF;
}

.tinymceCustomBody {
  color: #000 !important;
  background-color: #FFF !important;
  padding:10px;
  min-height: 200px;
  margin-top: 73px; /* height of the tinymce toolbar + editor border */
}

.journal {
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  color: #000;
  font-size: 20px;
  background-color: #FFF;
  box-shadow: 4px 4px 2px #ccccff;
}

.journal .date {
  /*text-align: right;*/
  color: #103b89;
  font-family: monospace;
}


.jumbotron {
  background-color: #6495ed !important;
  color: #fff !important;
  display: flex;
  text-align: center;
}

.jumbotron .name {
  font-size: 30px;
  font-family: fantasy;
  padding: 60px;
  background-color: #18399a;
  border-radius: 100px;
  height: 200px;
  width: 200px;
}

.jumbotron .notes {
  font-size: 25px;
  padding: 40px;
}

.jumbotron .sideContent {
  margin-right: 60px;
}

.loginBtn {
  border: 1px solid !important;
  color: #fff;
  font-size: 22px !important;
}

.loginBtn:hover {
  border-color: #1b63e4 !important;
  color: #1b63e4 !important;
}

.homeContent {
  /*text-align: center;*/
}

.homeContent .title {
  text-align: center;
}

.homeContent .content {
  font-size: 18px;
}

.features {
  padding-left: 0px;
}

.features li {
  list-style-position: inside;
}

.notifiers {
  position: fixed;
  bottom: 5px;
  right: 5px;
  max-width: 30%;
  height: auto;
  z-index: 1000;
}

.notifiers .notification {
  background-color: #000;
  padding: 20px;
  width: auto;
  margin: 5px;

}

.notifiers .notification .message {
  font-size: 22px;
  margin-right: 10px;
}

.notifiers .notification .message.info {
  color: #FFFFFF;
}

.notifiers .notification .message.success {
  color: #90ee90;
}

.notifiers .notification .message.failure {
  color: #FF0000;
}

.notifiers .notification .close {
  color: #fff;
  opacity: 0.5;
  font-size: 14px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.editor {
  /*border: 1px solid;*/
  display: inline-block;
  min-width:100%;
  background-color: #fff;
  padding: 0 100px;
}

.editor .titleBox {
  width: 100%;
  border: none;
  padding: 10px 0;
}

.editor .title, .journal .title {
  color: #000000;
  opacity: 0.8;
  font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
}

.editor .title:focus {
  outline: none;
}

.editor .journalContent {
  font-size: 21px;
  line-height: 1.58;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
}

.editor .editorFooter {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #18399a;
}

#mceu_19 {
  z-index: 3 !important;
  overflow: scroll;
}

.mce-panel, .mce-btn {
  background-color: #FFFFFF;
}

.mce-primary {
  background-color: #2d8ac7 !important;
}

#mceu_19.mce-fixed {
  top: 53px !important;
}

.mce-edit-focus {
  outline: 0px;
}

.actions {
  height: 50px;
  border-bottom: 1px solid #18399a;
}

.actions .action {
  width: 50%;
  height: 100%;
  /*border-right: 2px solid;*/
  color: inherit;
  cursor: pointer;
  float: left;
  text-align: center;
}

.actions .action a {
  color: inherit;
  cursor: pointer;
}

.actions .action a:hover {
  color: inherit;
}

.actions .action .actionContent {
  top: 50%;
  position: relative;
  transform: translateY(-50%);
  z-index: 4;
}

.actions .action .actionIcon {
  font-size: 30px;
}

.actions .action .location {
  border: none;
  background: inherit;
  font-size: 18px;
  width: 85%;
}

.autoCursor {
  cursor: auto !important;
}

.actions .action .location:hover {
  outline: 0px !important;
}

.journalDetails {
  display:inline-block;
  width: 100%;
  margin-bottom: 15px;
  font-size: 14px;
}

.dateSelector {
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  height: 100%;
  display: block;
  width: 100%;
  border: none;
  padding: inherit;
}

.display {
  display: block;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}

.error {
  color: #FF0000;
}

.errorFormElement {
  border: 1px solid;
  border-color: #FF0000 !important;
}

.contactUsForm {
  width: 75%;
}

.contactUsForm .error {
  font-size: 13px;
  margin: 3px 0 0 5px;
}

.contactUsForm .label {
  margin: 0;
}

.contactUsForm .formControl {
  width: 100%;
  font-size: 18px;
  color: #000000;
  border: 1px solid #A9A9A9;
}






